@use "@/assets/styles/base/reset" as *;
@use "@/assets/styles/base/global" as *;
@use "@/assets/styles/base/fonts" as *;
@use "@/assets/styles/base/variables" as *;

/* ------------------- */
/* --- Main Styles --- */
/* ------------------- */

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: $fontStack;
  position: relative;
  z-index: 0;
}
