@use "@/assets/styles/base/variables" as *;
@use "@/assets/styles/utils/mixins" as *;

.header {
  display: flex;
  width: 100%;
  min-height: 4rem;
  z-index: 1;
  box-shadow: $boxShadow;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  &__container {
    align-items: center;
    justify-content: space-between;
    @include container;
  }
}
