@use "@/assets/styles/base/variables" as *;
@use "@/assets/styles/utils/mixins" as *;

.header {
  display: flex;
  width: calc(100% - 4rem);
  min-height: 4rem;
  z-index: 1;
  box-shadow: $boxShadow;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  margin-left: 4rem;
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 5;
  }
  &__logo {
    cursor: pointer;
    z-index: 5;
    display: flex;
    align-items: center;
    height: 4rem;
    display: flex;
    text-decoration: none;
    color: $darkColor;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 4;
    transition: $primaryTransition;
    &:hover {
      color: $primaryColor;
    }
  }
  &__title {
    margin-left: 1rem;
  }
  &__user {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 auto;
    color: $darkColor;
  }
  &__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-left: 1rem;
  }
  &__container {
    align-items: center;
    justify-content: space-between;
    @include container;
  }
}
