@use "sass:color";
@use "@/assets/styles/base/variables" as *;
@use "@/assets/styles/utils/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  min-height: fit-content;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
  background-color: white;
  transition: $primaryTransition;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    border-bottom: 1px solid #ccc;
  }
  &__main-icon {
    height: 1.5rem;
    width: 4rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    width: 0;
    overflow: hidden;
    color: $darkColor;
    text-decoration: none;
    &--expanded {
      width: 100%;
    }
  }
  &__title {
    padding: 0;
  }
  &__toggle {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: min-content;
    border: none;
    background: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    &:hover {
      .sidebar__icon {
        color: color.scale($darkColor, $lightness: 50%);
      }
    }
  }
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    min-height: 2rem;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $darkColor;
    line-height: 2rem;
    &:hover {
      .sidebar__icon,
      .sidebar__text {
        color: color.scale($darkColor, $lightness: 50%);
      }
    }
  }
  &__text {
    width: 0;
    overflow: hidden;
    transition: $primaryTransition;
    &--expanded {
      width: 100%;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    min-width: 4rem;
  }
  &__icon {
    color: $darkColor;
    transition: $primaryTransition;
    height: 1.5rem;
    width: 1.5rem;
  }
  &__collapseable {
    width: 0;
    overflow: hidden;
    transition: $primaryTransition;
    &--expanded {
      width: 100%;
    }
  }
  &--expanded {
    width: 15rem;
  }
  &__user {
    display: flex;
    align-items: center;
    min-height: 4rem;
    border-top: 1px solid #ccc;
  }
  &__avatar {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin-left: 0.5rem;
  }
  &__info {
    display: flex;
    position: absolute;
    right: 1rem;
    min-height: 4rem;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    &--expanded {
      width: calc(100% - 5rem);
    }
  }
}
