@use "@/assets/styles/base/variables" as *;

/* -------------- */
/* --- Mixins --- */
/* -------------- */

/* --- Breakpoints / Media Queries --- */

@mixin tablet {
  @media (min-width: $tabletBreakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktopBreakpoint) {
    @content;
  }
}

@mixin container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  @include tablet {
    padding: 0;
    max-width: $tabletBreakpoint;
  }

  @include desktop {
    max-width: $desktopBreakpoint;
  }
}
