/* ----------------- */
/* --- Variables --- */
/* ----------------- */

/* --- Palette --- */

/*
#030301 - Dark
#00D9C0 - Primary
#7F95D1 - Secondary
#F6EFEE - Light
#FF4365 - Error
*/

/* --- Colors --- */

$primaryColor: #a5d8ff;
$secondaryColor: #21fa90;
$lightColor: #f4f5f5;
$darkColor: #313335;
$errorColor: #de6449;

/* --- Breakpoints --- */

$desktopBreakpoint: 1280px;
$tabletBreakpoint: 768px;

/* --- Fonts --- */

$fontStack: "Inter", sans-serif;

/* --- Shadows --- */

$boxShadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

/* --- Transitions --- */

$primaryTransition: all 0.25s ease;
