/* ----------------- */
/* --- Variables --- */
/* ----------------- */

/* --- Palette --- */

/*
#606C38 - Dark Moss Green
#283618 - Pakistan Green
#FEFAE0 - Cornsilk
#DDA15E - Earth Yellow
#BC6C25 - Tiger's Eye

#141101 - Smoky Black
*/

/* --- Colors --- */

$primaryColor: #283618;
$secondaryColor: #bc6c25;
$successColor: #606c38;
$lightColor: #fefae0;
$darkColor: #141101;

/* --- Breakpoints --- */

$desktopBreakpoint: 1280px;
$tabletBreakpoint: 768px;

/* --- Fonts --- */

$fontStack: "Inter", sans-serif;

/* --- Shadows --- */

$boxShadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
