@use "@/assets/styles/base/variables" as *;
@use "@/assets/styles/utils/mixins" as *;

.header {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: $darkColor;
  color: $lightColor;
  &_container {
    @include container;
    background-color: red;
  }
}
