@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.main {
  display: flex;
  flex-direction: column;

  background-color: $lightColor;
  z-index: 0;
  margin: 4rem 0 0 4rem;
  &__container {
    @include container;
  }
}
